replicaCount: 2

image:
  repository: devops2026.azurecr.io/web-app
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

ingress:
  enabled: true
  className: nginx
  host: web-app.nip.io

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

probes:
  path: /
  initialDelaySeconds: 5
  periodSeconds: 10
