replicaCount: 2

image:
  repository: my-image-name
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 5000

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

probes:
  path: /
  initialDelaySeconds: 5
  periodSeconds: 10
