name: Docker CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build . --file Dockerfile --tag moja-app:latest

      - name: Test Docker Run
        run: |
          docker run -d -p 5000:5000 --name test-kontejner moja-app:latest
          sleep 5
          docker ps | grep test-kontejner
          docker stop test-kontejner